<div class="container scrollbar-thin">
  <div *ngIf="tasks$ | async as recentTasks; else loadingTasks">
    <h1>Últimas Tasks Editadas</h1>

    <div
      *ngIf="recentTasks == 0; else taskslist"
      class="no-tasks-content scrollbar-thin"
    >
      <span class="empty-msg">Nenhuma participação em Tasks recentemente.</span>
    </div>

    <ng-template #taskslist>
      <gt-tasks-carousel [tasks]="recentTasks"></gt-tasks-carousel>
    </ng-template>
  </div>

  <ng-template #loadingTasks>
    <div class="skeleton-loading">
      <mat-spinner [diameter]="25"></mat-spinner>
    </div>
  </ng-template>
</div>
