@import '../../../../variables';

.container {
  padding-top: 10px;

  .flowable {
    overflow: auto;
  }

  .skeleton-loading {
    display: flex;
    justify-content: center;
    height: 160px;
    align-items: center;
  }
}
