<div
	fxLayout="row wrap"
	fxLayoutAlign="center center"
	fxLayoutGap="10px"
	[formGroup]="timeSpentForm"
	class="time-spent-container">

	<mat-form-field
		fxFlex="0 1 120px"
		appearance="outline">

		<mat-label>Tempo gasto</mat-label>
		<input
			matInput
			type="text"
			formControlName="timeSpent"
			[textMask]="{mask: hourMinuteMask}">
	</mat-form-field>

	<span class="fake-component"></span>

	<mat-form-field
		fxFlex="0 1 140px"
		appearance="outline">

		<mat-label>Data</mat-label>
		<input
			matInput
			formControlName="date"
			[min]="minDate"
			(click)="picker.open()"
			[matDatepicker]="picker">
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-datepicker #picker color="#a91919"></mat-datepicker>
	</mat-form-field>
	
	<button
		mat-mini-fab
		type="button"
		class="btn-green mat-elevation-z0"
		(click)="computeTimeSpent()"
		[disabled]="!timeSpentForm.valid">

		<fa-icon icon="check"></fa-icon>
	</button>
</div>