<div
	fxLayout="row wrap"
	fxLayout.lt-sm="column"
	fxLayoutGap="16px">

	<mat-card
		fxFlex="0 1 400px"
		fxFlex.lt-sm="1 1 auto"
		class="card-project card-project-info">

		<mat-card-title>Informação Geral</mat-card-title>

		<div
			fxLayout="row wrap"
			fxLayoutGap="16px"
			fxLayoutAlign="start center">

			<div
				fxFlex="0 0 120px"
				class="project-image image-rounded image--with-hover-msg"
				[ngStyle]="{'background-image': 'url('+ project.projectImage +')'}"
				*ngIf="project.projectImage">
				
				<fa-icon icon="camera"></fa-icon>
			</div>

			<div
				fxLayout="column"
				class="generic-project-info">

				<div class="project-info-wrapper">
					<mat-label class="label--bold">Nome: </mat-label>
					<mat-label class="label--value">{{ project.name }}</mat-label>
				</div>

				<div class="project-info-wrapper">
					<mat-label class="label--bold">Descrição: </mat-label>
					<mat-label class="label--value">{{ project.description }}</mat-label>
				</div>

				<div class="project-info-wrapper">
					<mat-label class="label--bold">Gerente: </mat-label>
					<mat-label class="label--value">{{ project.team.manager?.firstName}}</mat-label>
				</div>

				<div class="project-info-wrapper">
					<mat-label class="label--bold">Data de Criação: </mat-label>
					<mat-label class="label--value">{{ project.creationDate | date }}</mat-label>
				</div>
			</div>
		</div>
	</mat-card>

	<mat-card
		fxFlex="1 0 180px"
		fxFlex.lt-sm="0 0 198px"
		class="card-project card-project-participants">

		<mat-card-title>Equipe</mat-card-title>
		<mat-card-content>
			<div
				fxLayout="row"
				fxLayoutGap="8px"
				class="participants-container">

				<div
					fxLayout="column"
					fxLayoutAlign="start center"
					fxFlex="0 0 96px"
					class="participant"
					*ngFor="let participant of project.team.participants">

					<div
						class="participant__image image-rounded"
						[ngStyle]="{'background-image': 'url('+ participant.profilePhoto +')'}">
					</div>
					<label>{{ participant.firstName }}</label>
				</div>
			</div>
		</mat-card-content>
	</mat-card>

	<mat-card
		fxFlex="0 0 100%"
		class="card-project card-project-tasks">

		<mat-card-title>Atividades do Projeto</mat-card-title>
		<mat-card-content>
			<task-grid [rowData]="projectTasks"></task-grid>
		</mat-card-content>
	</mat-card>

	<mat-card
		class="card-project-kanban"
		fxFlex="0 0 100%">

		<mat-card-title>Kanban Projeto</mat-card-title>
		<mat-card-content>
			<gt-kanban [projectId]="project.id"></gt-kanban>
		</mat-card-content>

	</mat-card>
</div>
