<div class="container scrollbar-thin">
  <div *ngIf="projects$ | async as projects; else loadingProjects">
    <h1>Seus Projetos</h1>

    <div
      *ngIf="projects.length == 0; else projectsList"
      class="no-project-content scrollbar-thin"
    >
      <span class="empty-msg">Não há projetos recentes.</span>
    </div>

    <ng-template #projectsList>
      <div fxLayout="row" fxLayoutGap="10px" class="scrollable">
        <div fxFlex="1 1 160px" class="card-project" *ngFor="let p of projects">
          <div
            fxLayout="column"
            fxLayoutAlign="center center"
            class="project-image"
            [style.background-image]="'url(' + p.projectImage + ')'"
            routerLink="{{ goToInfoProject(p._id) }}"
          >
            <span *ngIf="!p.projectImage">{{ p.name }}</span>
          </div>
          <div class="team-of-project">{{ p.team.name }}</div>
        </div>
      </div>
    </ng-template>
  </div>

  <ng-template #loadingProjects>
    <div fxLayout="row" fxLayoutAlign="center center" class="skeleton-loading">
      <mat-spinner [diameter]="25"></mat-spinner>
    </div>
  </ng-template>
</div>
