@import "../../../variables";

.page-not-found-container {
	margin-top: 30px;
	margin-left: -210px;
	text-align: center;

	.image-not-found {
		margin-bottom: 30px;
		width: 250px;
		height: 250px;
		background: url('../../../assets/images/not-found.jpg') no-repeat center;
		background-size: contain;
	}

	h1 {
		margin: 0;
		font-size: 30px;
		color: $primary;
	}

	h2 {
		margin-bottom: 30px;
		font-size: 16px;
	}
}

@media (max-width: 959px) {

	.page-not-found-container {
		margin-left: 0;
	}
}

@media (max-width: 600px) {

	.page-not-found-container {

		h1 {
			font-size: 25px;
		}
	}
}
