@import '../../../../variables';

@media (min-width: 1200px) {

	ngu-carousel ::ng-deep > .ngucarousel > .ngu-touch-container > .ngucarousel-items {
		width: calc(100% - 76px);

		> .item {
			margin-right: 12px;
		}
	}
}

.item {
	box-sizing: border-box;
}

.btn-prev, .btn-next {
	position: absolute;
	top: calc(50% - 32px);
	right: 0;
	padding: 0;
	font-size: 21px;
	color: $primary;
	background: none;
	border: 0;
	opacity: .4;
	transition: .4s;

	&:hover {
		opacity: 1;
	}
}

.btn-next {
	top: 50%;
}

.myPoint {
	list-style-type: none;
	text-align: center;
	padding: 12px;
	margin: 0;
	white-space: nowrap;
	overflow: auto;
	box-sizing: border-box;
}

.myPoint li {
	display: inline-block;
	width: 12px;
    height: 6px;
	background-color: $primary;
	opacity: .4;
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
	transition: 0.4s;

	&:first-child {
		border-radius: 6px 0 0 6px;
	}

	&:last-child {
		border-radius: 0 6px 6px 0;
	}

	&:hover {
		opacity: .6;
	}

	&.active {
		opacity: 1;
	}
}