@import '../../../../variables';

.container {
  h1 {
    margin-top: 0;
  }

  .tasks-content {
    margin-top: 10px;
    max-height: 163px;
    padding: 4px 8px;
    overflow: auto;
    border: 1px solid $border;
    border-radius: 8px;

    .due-task:hover {
      cursor: pointer;
    }

    .due-task {
      padding: 10px;
      border-bottom: 1px solid $border-light;

      &:last-child {
        border-bottom: 0;
      }

      .task-project,
      .task-status-label {
        padding: 2px 8px;
        font-size: 0.8rem;
        color: $accent-darker;
        border: 1px solid $accent-darker;
        border-radius: 4px;
      }

      .task-due-days-hoje {
        padding: 2px 8px;
        font-size: 0.8rem;
        color: lightcoral;
        border: 1px solid lightcoral;
        border-radius: 4px;
      }
      .task-due-days-amanha {
        padding: 2px 8px;
        font-size: 0.8rem;
        color: orange;
        border: 1px solid orange;
        border-radius: 4px;
      }
      .task-due-days-depois {
        padding: 2px 8px;
        font-size: 0.8rem;
        color: lightgray;
        border: 1px solid lightgray;
        border-radius: 4px;
      }

      .task-status-label {
        &.task-status-label--red {
          color: red;
          border-color: red;
        }

        &.task-status-label--green {
          color: green;
          border-color: green;
        }

        &.task-status-label--blue {
          color: blue;
          border-color: blue;
        }

        &.task-status-label--grey {
          color: grey;
          border-color: grey;
        }

        &.task-status-label--yellow {
          color: yellow;
          border-color: yellow;
        }

        &.task-status-label--orange {
          color: orange;
          border-color: orange;
        }
      }
    }
  }

  .skeleton-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
  }
}

@media (max-width: 599px) {
  .task-title {
    margin-bottom: 8px;
  }
}
