.status-indicator {
  margin-right: 5px;

  &.status-indicator--red {
    color: red;
  }

  &.status-indicator--green {
    color: green;
  }

  &.status-indicator--blue {
    color: blue;
  }

  &.status-indicator--grey {
    color: grey;
  }

  &.status-indicator--yellow {
    color: yellow;
  }

  &.status-indicator--orange {
    color: orange;
  }
}
