<div
	fxLayout="row"
	fxLayoutGap="20px"
	class="kanban">

	<div
		fxFlex="1 0 250px"
		class="kanban__card">

		<h3>Criada</h3>
		<div
			cdkDropList
			#createdList="cdkDropList"
			[cdkDropListData]="created"
			[cdkDropListConnectedTo]="[todoList, doneList, doingList]"
			class="kanban__card__list"
			(cdkDropListDropped)="drop($event)">

			<div class="kanban__card__list__box" *ngFor="let item of created" cdkDrag>
				{{item}}

				<div *ngIf="findTaskByTitle(item) as task">
					<task-preview *cdkDragPreview [task]="task"></task-preview>
				</div>
			</div>
		</div>
	</div>

	<div
		fxFlex="1 0 250px"
		class="kanban__card kanban__card--waiting">

		<h3>Em espera</h3>
		<div
			cdkDropList
			#todoList="cdkDropList"
			[cdkDropListData]="todo"
			[cdkDropListConnectedTo]="[createdList, doneList, doingList]"
			class="kanban__card__list"
			(cdkDropListDropped)="drop($event)">
			<div class="kanban__card__list__box" *ngFor="let item of todo" cdkDrag>
				{{item}}

				<div *ngIf="findTaskByTitle(item) as task">
					<task-preview *cdkDragPreview [task]="task"></task-preview>
				</div>
			</div>
		</div>
	</div>
	
	<div
		fxFlex="1 0 250px"
		class="kanban__card kanban__card--doing">

		<h3>Fazendo</h3>
		<div
			cdkDropList
			#doingList="cdkDropList"
			[cdkDropListData]="doing"
			[cdkDropListConnectedTo]="[createdList, todoList, doneList]"
			class="kanban__card__list"
			(cdkDropListDropped)="drop($event)">
			<div class="kanban__card__list__box" *ngFor="let item of doing" cdkDrag>
				{{item}}

				<div *ngIf="findTaskByTitle(item) as task">
					<task-preview *cdkDragPreview [task]="task"></task-preview>
				</div>
			</div>
		</div>
	</div>
	
	<div
		fxFlex="1 0 250px"
		class="kanban__card kanban__card--done">

		<h3>Finalizada</h3>
		<div
			cdkDropList
			#doneList="cdkDropList"
			[cdkDropListData]="done"
			[cdkDropListConnectedTo]="[createdList, todoList, doingList]"
			class="kanban__card__list"
			(cdkDropListDropped)="drop($event)">

			<div class="kanban__card__list__box" *ngFor="let item of done" cdkDrag>
				{{item}}

				<div *ngIf="findTaskByTitle(item) as task">
					<task-preview *cdkDragPreview [task]="task"></task-preview>
				</div>
			</div>
		</div>
	</div>
</div>